image:
  imageTag: 1.0-dbd7468-1
  pullPolicy: Always

app:
  replicaCount: 1

ingress:
  enabled: true
  className: "nginx"
  hosts:
  - paths:
      - path: /
        pathType: ImplementationSpecific
  tls: []