apiVersion: apps/v1
kind: Deployment
metadata:
  name: multi-port-pod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    spec:
      containers:
        - name: my-container
          image: nginx:latest
          ports:
            - containerPort: 80
            - containerPort: 9900
            - containerPort: 9600