image:
  imageTag: test
  pullPolicy: Always

app:
  replicaCount: 1

  env:
    - name: CONFIG_PATH
      value: /vault/secrets/application.properties
    - name: OTEL_SERVICE_NAME
      value: user-service
    - name: OTEL_METRICS_EXPORTER
      value: none
    - name: OTEL_LOGS_EXPORTER
      value: none
    - name: OTEL_EXPORTER_OTLP_ENDPOINT
      value: "http://otel-collector-ingestor.otel.svc.cluster.local:4317"
    - name: OTEL_EXPORTER_OTLP_PROTOCOL
      value: grpc

  resources:
    requests:
      cpu: "250m"
      memory: "256Mi"
    limits:
      cpu: "1000m"
      memory: "2Gi"

job:
  enabled: true
  image:
    jobImageTag: test
    pullPolicy: Always

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
  hosts:
    - paths:
        - path: "/user-service/.*"
          pathType: ImplementationSpecific

  tls: []
