apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "otel-collector.ingestor.name" . }}
  labels:
    {{- include "otel-collector.ingestor.labels" . | nindent 4 }}
data:
  config.yaml: |
    extensions:
      health_check:
        endpoint: "0.0.0.0:13133"
    
    processors:
      batch:
        {{- toYaml .Values.ingestor.otel_config.processors.batch | nindent 8 }}
      
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:{{ .Values.ingestor.service.ports.grpc }}
          http:
            endpoint: 0.0.0.0:{{ .Values.ingestor.service.ports.http }}
      
    exporters:
      loadbalancing:
        protocol:
          otlp:
            timeout: 1s
            tls:
              insecure: true
        resolver:
          dns:
            hostname: {{ include "otel-collector.aggregator.headlessServiceName" . }}.{{ .Release.Namespace }}.svc.cluster.local
            port: '{{ .Values.aggregator.service.ports.grpc }}'
            interval: 5s

    service:
      extensions: [health_check]
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [loadbalancing]